@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@use "sass:math";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  min-width: 320px;
}

a,
a:active,
a:visited {
  all: unset;
}

input,
button {
  all: unset;
}

@use "sass:math";
.wrapper {
  margin: 0 auto;
  padding: 1.875rem 1.25rem;
  display: -ms-grid;
  display: grid;
  grid-gap: 2.5rem;
}

@use "sass:math";
.header__top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__top-bar__logo-link {
  width: 150px;
}

@media (min-width: 40em) {
  .header__top-bar__logo-link {
    width: unset;
  }
}

.header__top-bar__logo-link:hover {
  cursor: pointer;
}

.header__top-bar__logo-link__image {
  width: inherit;
}

.header__top-bar__button-link {
  width: 90px;
  height: 25px;
  padding-block: 0.1rem;
  padding-inline: 0.8rem;
  color: #ff52bf;
  text-align: center;
  border: 1px solid #ff52bf;
  border-radius: 50px;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 40em) {
  .header__top-bar__button-link {
    width: 120px;
    height: 30px;
  }
}

@media (min-width: 40em) {
  .header__top-bar__button-link {
    padding-block: 0.5rem;
    padding-inline: 1.2rem;
  }
}

.header__top-bar__button-link:hover {
  cursor: pointer;
  color: #ff8fd8;
  border: 1px solid #ff8fd8;
  -webkit-box-shadow: 0.5px 0.5px 1px 0 rgba(250, 214, 237, 0.884), -0.5px -0.5px 1px 0 rgba(250, 214, 237, 0.884);
          box-shadow: 0.5px 0.5px 1px 0 rgba(250, 214, 237, 0.884), -0.5px -0.5px 1px 0 rgba(250, 214, 237, 0.884);
}

.header__top-bar__button-link__button {
  height: inherit;
  width: inherit;
  font-size: 1.0625rem;
  border-radius: 50px;
}

@media (min-width: 40em) {
  .header__top-bar__button-link__button {
    font-size: 1.5rem;
    line-height: 1.6rem;
  }
}

.header__hero-section {
  padding-top: 9.375rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.5rem;
}

.header__hero-section__heading {
  width: 90%;
  font-size: 2.5rem;
}

@media (min-width: 40em) {
  .header__hero-section__heading {
    font-size: 3.125rem;
  }
}

.header__hero-section__description {
  width: 80%;
  font-size: 1rem;
}

@media (min-width: 40em) {
  .header__hero-section__description {
    font-size: 1.25rem;
  }
}

.header__hero-section__get-started-btn {
  background-color: #ff52bf;
  border-radius: 50px;
  padding: 0.625rem 2.5rem;
  color: white;
  font-size: 1rem;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}

@media (min-width: 40em) {
  .header__hero-section__get-started-btn {
    padding: 0.9375rem 3.75rem;
  }
}

@media (min-width: 40em) {
  .header__hero-section__get-started-btn {
    font-size: 1.25rem;
  }
}

.header__hero-section__get-started-btn:hover {
  cursor: pointer;
  background-color: #ff8fd8;
  -webkit-box-shadow: 5px 5px 8px 0 rgba(116, 116, 116, 0.205), -5px 5px 8px 0 rgba(116, 116, 116, 0.205);
          box-shadow: 5px 5px 8px 0 rgba(116, 116, 116, 0.205), -5px 5px 8px 0 rgba(116, 116, 116, 0.205);
}

.header__hero-section__hero-image {
  width: 100%;
  aspect-ratio: 1015/720;
  padding-block: 5rem;
  padding-inline: calc(2.5vw + 1rem);
  left: 0;
}

@media (min-width: 40em) {
  .header__hero-section__hero-image {
    padding-inline: 7.5rem;
  }
}

.header__hero-section__social-stats {
  padding-bottom: 3.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6.25rem;
}

@media (min-width: 40em) {
  .header__hero-section__social-stats {
    padding-bottom: 9.375rem;
  }
}

@media (min-width: 40em) {
  .header__hero-section__social-stats {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 12.5rem;
  }
}

.header__hero-section__social-stats__stat__title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: clamp(3rem, calc(4.5vw + 2rem), 7rem);
}

.header__hero-section__social-stats .communities {
  position: relative;
}

.header__hero-section__social-stats .communities::before {
  content: url(/images/icon-communities.svg);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  -ms-flex-item-align: start;
      align-self: flex-start;
  top: -50px;
}

@media (min-width: 40em) {
  .header__hero-section__social-stats .communities::before {
    top: -80px;
  }
}

@media (min-width: 71.875em) {
  .header__hero-section__social-stats .communities::before {
    top: -100px;
  }
}

.header__hero-section__social-stats .communities::after {
  content: "Communities Formed";
  width: 150%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  bottom: -20px;
  position: absolute;
  font-size: 1rem;
  color: #00252e;
  font-weight: none;
}

.header__hero-section__social-stats .messages {
  position: relative;
}

.header__hero-section__social-stats .messages::before {
  content: url(/images/icon-messages.svg);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  -ms-flex-item-align: start;
      align-self: flex-start;
  top: -50px;
}

@media (min-width: 40em) {
  .header__hero-section__social-stats .messages::before {
    top: -80px;
  }
}

@media (min-width: 71.875em) {
  .header__hero-section__social-stats .messages::before {
    top: -100px;
  }
}

.header__hero-section__social-stats .messages::after {
  content: "Messages Sent";
  width: 150%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  bottom: -20px;
  position: absolute;
  font-size: 1rem;
  color: #00252e;
  font-weight: none;
}

.main {
  padding-inline: unset;
}

.main__sub-section {
  text-align: center;
  padding-inline: calc(4vw + 2rem);
  padding-block: 3.125rem;
}

@media (min-width: 40em) {
  .main__sub-section {
    text-align: left;
  }
}

@media (min-width: 40em) {
  .main__sub-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: calc(8vw + 1.5rem);
  }
}

.main__sub-section__image {
  width: 90%;
  padding-block: 6.25rem;
}

@media (min-width: 40em) {
  .main__sub-section__image {
    width: 50%;
    height: 100%;
  }
}

.main__sub-section__text__title {
  font-size: 1.5rem;
}

.main__sub-section__text__description {
  padding-block: 1.25rem;
  font-size: 1rem;
}

.main .grow-together {
  background-color: #f5faff;
}

@media (min-width: 40em) {
  .main .grow-together {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.main .your-users {
  background-color: #f5faff;
}

@media (min-width: 40em) {
  .main .your-users {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.main .sign-up {
  padding-top: 3.125rem;
  padding-bottom: 6.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.5rem;
}

.main .sign-up__heading {
  font-size: 1.5rem;
}

.main .sign-up__link {
  background-color: #ff52bf;
  border-radius: 50px;
  padding-block: 1rem;
  padding-inline: 2.5rem;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}

.main .sign-up__link:hover {
  cursor: pointer;
  background-color: #ff8fd8;
  -webkit-box-shadow: 5px 5px 8px 0 rgba(116, 116, 116, 0.205), -5px 5px 8px 0 rgba(116, 116, 116, 0.205);
          box-shadow: 5px 5px 8px 0 rgba(116, 116, 116, 0.205), -5px 5px 8px 0 rgba(116, 116, 116, 0.205);
}

.footer {
  background-color: #00252e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 5rem;
  color: white;
}

@media (min-width: 40em) {
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    gap: 5rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 40em) {
  .footer {
    padding-block: 6.25rem;
    padding-inline: 6.25rem;
  }
}

.footer__news-letter {
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1.875rem;
}

.footer__news-letter__title {
  font-family: "Poppins", sans-serif;
}

@media (min-width: 40em) {
  .footer__news-letter__title {
    font-size: 2rem;
  }
}

.footer__news-letter__subscription-form {
  width: 100%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 0.625rem;
}

@media (min-width: 71.875em) {
  .footer__news-letter__subscription-form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer__news-letter__subscription-form__input {
  width: 80%;
  padding: 0.5rem 2rem;
  background-color: white;
  border-radius: 5px;
  font-size: 1.2rem;
  color: black;
  font-family: "Poppins", sans-serif;
}

@media (min-width: 40em) {
  .footer__news-letter__subscription-form__input {
    width: none;
  }
}

.footer__news-letter__subscription-form__submit {
  background-color: #ff52bf;
  border-radius: 5px;
  padding: 0.5rem 2rem;
  font-size: 1.2rem;
  color: white;
  font-family: "Poppins", sans-serif;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}

.footer__news-letter__subscription-form__submit:hover {
  cursor: pointer;
  background-color: #ff8fd8;
}

.footer__general {
  max-width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__general__logo {
  padding-bottom: 1.25rem;
}

.footer__general__description {
  padding-bottom: 2.5rem;
  line-height: 1.5rem;
}

.footer__general__contacts {
  padding-bottom: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__general__contacts__phone, .footer__general__contacts__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  text-align: center;
}

.footer__general__social {
  padding-bottom: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  text-align: center;
  font-size: 2rem;
}

.footer__general__social__link {
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}

.footer__general__social__link i {
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}

.footer__general__social__link:hover {
  cursor: pointer;
}

.footer__general__social__link:hover i {
  color: #85c2ff;
}
