@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@use "sass:math";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  min-width: 320px;
}

a,
a:active,
a:visited {
  all: unset;
}

input,
button {
  all: unset;
}

@use "sass:math";
.wrapper {
  margin: 0 auto;
  padding: 1.875rem 1.25rem;
  display: -ms-grid;
  display: grid;
  grid-gap: 2.5rem;
}

@use "sass:math";
.header__top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__top-bar__logo-link {
  width: 150px;
}

@media (min-width: 40em) {
  .header__top-bar__logo-link {
    width: unset;
  }
}

.header__top-bar__logo-link:hover {
  cursor: pointer;
}

.header__top-bar__logo-link__image {
  width: inherit;
}

.header__top-bar__button-link {
  width: 90px;
  height: 25px;
  padding-block: 0.1rem;
  padding-inline: 0.8rem;
  color: #ff52bf;
  text-align: center;
  border: 1px solid #ff52bf;
  border-radius: 50px;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 40em) {
  .header__top-bar__button-link {
    width: 120px;
    height: 30px;
  }
}

@media (min-width: 40em) {
  .header__top-bar__button-link {
    padding-block: 0.5rem;
    padding-inline: 1.2rem;
  }
}

.header__top-bar__button-link:hover {
  cursor: pointer;
  color: #ff8fd8;
  border: 1px solid #ff8fd8;
  -webkit-box-shadow: 0.5px 0.5px 1px 0 rgba(250, 214, 237, 0.884), -0.5px -0.5px 1px 0 rgba(250, 214, 237, 0.884);
          box-shadow: 0.5px 0.5px 1px 0 rgba(250, 214, 237, 0.884), -0.5px -0.5px 1px 0 rgba(250, 214, 237, 0.884);
}

.header__top-bar__button-link__button {
  height: inherit;
  width: inherit;
  font-size: 1.0625rem;
  border-radius: 50px;
}

@media (min-width: 40em) {
  .header__top-bar__button-link__button {
    font-size: 1.5rem;
    line-height: 1.6rem;
  }
}

.header__hero-section {
  padding-top: 9.375rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.5rem;
}

.header__hero-section__heading {
  width: 90%;
  font-size: 2.5rem;
}

@media (min-width: 40em) {
  .header__hero-section__heading {
    font-size: 3.125rem;
  }
}

.header__hero-section__description {
  width: 80%;
  font-size: 1rem;
}

@media (min-width: 40em) {
  .header__hero-section__description {
    font-size: 1.25rem;
  }
}

.header__hero-section__get-started-btn {
  padding: 0.625rem 2.5rem;
  background-color: #ff52bf;
  border-radius: 50px;
  color: white;
  font-size: 1rem;
}

@media (min-width: 40em) {
  .header__hero-section__get-started-btn {
    padding: 0.9375rem 3.75rem;
  }
}

@media (min-width: 40em) {
  .header__hero-section__get-started-btn {
    font-size: 1.25rem;
  }
}

.header__hero-section__hero-image {
  width: 100%;
  padding-inline: calc(2.3vw + 1rem);
}

@media (min-width: 40em) {
  .header__hero-section__hero-image {
    padding-inline: 7.5rem;
  }
}
