@import '../util/index';
// Helper Classes
.wrapper {
    // Centering Contents
    margin: 0 auto;
    // Mobile Design
    padding: 0 rem(20);
    // Display
    display: grid;
    grid-gap: rem(40);
}