.main {
    padding-inline: unset;
    // Main
    &__sub-section {
        // Section
        // Font Settings
        text-align: center;
        @include breakpoint(medium) {
            // Font Settings
            text-align: left;
        }
        // Display
        @include breakpoint(medium) {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: calc(8vw + 1.5rem);
        }
        // Positioning
        padding-inline: calc(4vw + 2rem);
        margin-block: rem(50);
        // Child Elements
        &__image {
            // Img
            // Sizing
            width: 90%;
            @include breakpoint(medium) {
                // Sizing
                width: 50%;
                height: 100%;
            }
            // Positioning
            padding-block: rem(60);
        }
        &__text {
            // Article
            &__title {
                // H3
                // Font Settings
                font-size: 1.5rem;
            }
            &__description {
                // P
                // Positioning
                padding-block: rem(20);
                // Font Settings
                font-size: 1rem;
            }
        }
    }
    .grow-together {
        // Background
        background-color: $very-pale-blue;
        // Display
        @include breakpoint(medium) {
            flex-direction: row-reverse;
        }
        // Curved Background
        position: relative;
        &::before {
            background: url("/images/bg-section-top-mobile-1.svg") center bottom no-repeat;
            background-size: contain;
            bottom: 100%;
            left: 0;
            content: '';
            height: 200px;
            position: absolute;
            width: 100%;
            @include breakpoint(medium) {
                background: url("/images/bg-section-top-desktop-1.svg") center bottom no-repeat;
                background-size: contain;
                bottom: 100%;
                left: 0;
                content: '';
                height: 200px;
                position: absolute;
                width: 100%;
            }
        }
        &::after {
            background: url("/images/bg-section-bottom-mobile-1.svg") center top no-repeat;
            background-size: contain;
            top: 100%;
            left: 0;
            content: '';
            height: 200px;
            position: absolute;
            width: 100%;
            @include breakpoint(medium) {
                background: url("/images/bg-section-bottom-desktop-1.svg") center top no-repeat;
                background-size: contain;
                top: 100%;
                left: 0;
                content: '';
                height: 200px;
                position: absolute;
                width: 100%;
            }
        }
    }
    .flowing-conversations {}
    .your-users {
        // Background
        background-color: $very-pale-blue;
        // Display
        @include breakpoint(medium) {
            flex-direction: row-reverse;
        }
        // Curved Background
        position: relative;
        &::before {
            background: url("/images/bg-section-top-mobile-2.svg") center bottom no-repeat;
            background-size: contain;
            bottom: 100%;
            left: 0;
            content: '';
            height: 200px;
            position: absolute;
            width: 100%;
            @include breakpoint(medium) {
                background: url("/images/bg-section-top-desktop-2.svg") center bottom no-repeat;
                background-size: contain;
                bottom: 100%;
                left: 0;
                content: '';
                height: 200px;
                position: absolute;
                width: 100%;
            }
        }
        &::after {
            background: url("/images/bg-section-bottom-mobile-2.svg") center top no-repeat;
            background-size: contain;
            top: 100%;
            left: 0;
            content: '';
            height: 200px;
            position: absolute;
            width: 100%;
            @include breakpoint(medium) {
                background: url("/images/bg-section-bottom-desktop-2.svg") center bottom no-repeat;
                background-size: contain;
                bottom: 100%;
                left: 0;
                content: '';
                height: calc(9.5vw);
                position: absolute;
                width: 100%;
            }
        }
    }
}